body {
    background-image: url("https://t3.ftcdn.net/jpg/06/84/33/54/360_F_684335404_8gi7eRehGnUHddPOEjOvfq6lbwE7piHW.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  
  .container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px; /* Add padding to the main container */
    background-color: black;
    
  }
  
  .booking-box,
  .payment-box {
    padding: 20px; /* Add padding to the white boxes */
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: calc(100% - 22px); /* Adjust input and select width to account for padding and border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .time-slots {
    display: flex;
  }
  
  .time-slot {
    flex: 1;
    margin-right: 5px; /* Set a 5px gap between time slots */
  }
  
  .time-slot:last-child {
    margin-right: 0;
  }
  
  button#submit-btn {
    display: block;
    width: calc(100% - 22px); /* Adjust button width to account for padding and border */
    margin-top: 20px; /* Add margin between the button and the rest of the content */
    margin-bottom: 20px; /* Add margin between the button and the payment details */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: rgb(60, 238, 89);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
  }
  
  
  button#submit-btn:hover {
    opacity: 0.5;
  }
  