body {
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: black;
    background-color: rgb(250, 240, 217);
    
    font-family: "Bon Vivant", sans-serif;
  }
  #navbar{
   
    background-color:transparent;
    color:white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-image: url(Design.jpg);
    background-size: cover;
    padding-right: 3%;
    padding-left: 1.75%;
  }
  a{
    color: rgb(250, 240, 217); 
    text-decoration: none;
    font-size: 1.5em;
  }
  a:hover {
    color: rgb(60, 238, 89);
  }
  h1{
    font-family: emoji; 
  }
  h2{
    text-align:center;
    font-family: "Lucida Handwriting", cursive;
  }
  h3{
    
    font-family: "Bon Vivant", sans-serif;
  }
  p{
    font-size: 1.2em;
  }
  #home{
    margin-top: 2%;
  }
  #steps{
      display:flex;
    align-items: center;
    justify-content:space-evenly;
    margin:5px;
  }
  #steps img{
    height: 50px;
  }
  #steps div{
    text-align:center;
        margin:3.25%;
        
  }#offers{
   background-color:rgb(60, 238, 89);
   color: rgb(0, 0, 0);
   opacity: 0.58;
   padding-top: 0.10%;
   padding-bottom: 0.10%;
   margin-bottom: 2%;
  }
  .offerlist{
    font-size: 1.35em;
    padding-left: 3%;
}
  

  .carousel {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .carousel-inner {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .carousel-item {
    display: inline-block;
  }
  
  .carousel img {
    width: 25%;
    height: 400px;
    margin: 0.01%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  footer{
    position: relative;
    width: 100%;
    background-image: url(Design.jpg);
    background-size: cover;
    padding: 20px 5opx;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  footer .social_icon , footer.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  footer .social_icon li{
    list-style: none;
  }
  
  footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  
  footer.menu a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    /* justify-content:space-between; */
    
  }
  
  footer.menu a:hover{
    opacity: 1;
  }
  
  footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  